<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
</head>
<body>
    <form method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome."><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Digite seu email"><br>
        <label for="foto">Foto</label>
        <input type="file" name="foto" id="foto" required><br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required><br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>