<%-include('cabecalho.ejs')%>
<form method="post">
    <label for="sintomas">Sintomas</label>
    <input type="text" name="sintomas" id="sintomas" required placeholder="Digite os sintomas do paciente."><br>
    <label for="diagnostico">Diagnóstico</label>
    <input type="text" name="diagnostico" id="diagnostico" required placeholder="Digite o diagnóstico do paciente."><br>
    <label for="receita">Receita</label>
    <input type="text" name="receita" id="receita" required placeholder="Digite a receita para o paciente."><br>
    <label for="paciente">Paciente</label>
    <select name="paciente" id="paciente">
        <%Pacientes.forEach(function(paciente){%>
            <option value="<%=paciente._id%>"><%=paciente.nome%></option>
        <% }) %>
    </select>
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>