<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Usuários</title>
</head>
<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
        </tr>

        <%Usuarios.forEach(function(usuario){%>
            <tr>
                <td><%=usuario.nome%></td>
                <td><%=usuario.email%></td>
                <td>
                    <img src="<%=usuario.foto%>" alt="Foto Perfil">
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>